main {
  display: flex;
  background-color: white;
}

h1 {
  text-align: center;
  background-color: navy;
  padding: 1em;
  color: white;
}

#weatherSearch {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#weatherSearch > * {
  margin: 0.25em;
}

#forecastData {
  display: flex;
  justify-content: space-around;
}

#forecastData > div {
  margin: 1em;
  padding: 1em;
  background-color: navy;
  color: white;
}

#currentWeather {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

#searchResults {
  display: flex;
  flex-direction: column;
}

#searchResults > button {
  background-color: grey;
  color: black;
  padding: 1em;
  margin: 0.25em;
}

#button {
  color: white;
  background-color: rgba(112, 144, 231, 0.603);
  border: none;
  padding: 0.5em;
  margin: 1em;
}

label {
  font-weight: bolder;
  font-size: large;
}

h2 {
  font-size: larger;
  padding: 1em;
}
